Repository 1Money-Co/onemoney-protocol-rust-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unit, Crypto Module, Client Module, API Module, Utils Module, Transport Module

codecov.yml:

# Codecov configuration for OneMoney Rust SDK
# This file configures how Codecov analyzes and reports code coverage

# Coverage targets
coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 5%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
        threshold: 10%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

# Coverage precision
  precision: 2

# Files to ignore from coverage analysis
ignore:
  - "examples/"
  - "tests/"
  - "benches/"
  - "target/"
  - "*.md"
  - "src/main.rs"  # Binary entry point if exists

# Comment configuration for pull requests
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

# GitHub status checks
github_checks:
  annotations: true

# Flags for different types of tests
flags:
  unit:
    paths:
      - src/

# Component-specific coverage tracking
component_management:
  individual_components:
    - component_id: crypto
      name: Crypto Module
      paths:
        - src/crypto/
    - component_id: client
      name: Client Module
      paths:
        - src/client/
    - component_id: api
      name: API Module
      paths:
        - src/api/
    - component_id: utils
      name: Utils Module
      paths:
        - src/utils/
    - component_id: transport
      name: Transport Module
      paths:
        - src/transport/

fix: CI
  src/utils/wallet.rs
Due: unit, Utils Module

add bridge tx to TxPayload (#13)
  Cargo.lock
  Cargo.toml
  src/types/responses/transactions.rs
  src/utils/wallet.rs
Due: unit, Utils Module

refactor: rm other apis
  Cargo.toml
  examples/governances_example.rs
  src/api/governances.rs
  src/api/mod.rs
  src/types/hex_serde.rs
  src/types/mod.rs
  src/types/responses/governances.rs
  src/types/responses/mod.rs
  src/utils/io.rs
  src/utils/mod.rs
Due: unit, API Module, Utils Module

refactor: rm unused code
  Cargo.lock
  Cargo.toml
  src/client/config.rs
Due: unit, Client Module

refactor: add the finalized api example
  Cargo.toml
  examples/finalized_example.rs
  examples/transactions_example.rs
Due: none

fix: coderabbit
  src/api/transactions.rs
  src/types/responses/transactions.rs
Due: unit, API Module

update governance related APIs
  Cargo.lock
  Cargo.toml
  examples/governance_example.rs
  src/api/governance.rs
  src/api/mod.rs
  src/client/config.rs
  src/types/mod.rs
  src/types/responses/governance.rs
  src/types/responses/mod.rs
Due: unit, Client Module, API Module

fix code rabbit
  examples/governance_example.rs
  src/client/config.rs
  src/types/responses/governance.rs
Due: unit, Client Module

refactor: fix bug of the field of fee_used
  examples/finalized_example.rs
  src/api/transactions.rs
  src/types/responses/transactions.rs
Due: unit, API Module

fix: coderabbit
  src/api/transactions.rs
Due: unit, API Module

feat: update governance related APIs (#15)
  Cargo.lock
  Cargo.toml
  examples/governance_example.rs
  src/api/governance.rs
  src/api/mod.rs
  src/client/config.rs
  src/types/mod.rs
  src/types/responses/governance.rs
  src/types/responses/mod.rs
Due: unit, Client Module, API Module

feat: add API for finalized transactions (#14)
  Cargo.toml
  examples/finalized_example.rs
  examples/transactions_example.rs
  src/api/transactions.rs
  src/client/config.rs
  src/types/responses/tokens.rs
  src/types/responses/transactions.rs
  tests/mock_integration_tests.rs
Due: unit, Client Module, API Module

add bbnonce api
  src/api/accounts.rs
  src/client/config.rs
  src/types/responses/accounts.rs
Due: unit, Client Module, API Module

update version v0.10
  Cargo.lock
  Cargo.toml
Due: none

feat: add get_account_bbonce API (#16)
  Cargo.lock
  Cargo.toml
  src/api/accounts.rs
  src/client/config.rs
  src/types/responses/accounts.rs
Due: unit, Client Module, API Module

refactor: rename to bridge_mint_authorities
  Cargo.lock
  Cargo.toml
  src/types/responses/tokens.rs
Due: unit

chore: rename
  tests/mock_integration_tests.rs
Due: none

refactor: rename to bridge_mint_authorities (#17)
  Cargo.lock
  Cargo.toml
  src/types/responses/tokens.rs
  tests/mock_integration_tests.rs
Due: unit

bbnonce in tx
  src/api/bridge.rs
  src/types/requests/bridge.rs
  src/types/responses/transactions.rs
Due: unit, API Module

update helper method for finalizing txn with receipt
  examples/transactions_example.rs
  src/api/transactions.rs
Due: unit, API Module

update version
  Cargo.lock
  Cargo.toml
Due: none

chore: update helper method for finalizing txn with receipt (#20)
  Cargo.lock
  Cargo.toml
  examples/transactions_example.rs
  src/api/transactions.rs
Due: unit, API Module

add success info to receipts
  src/api/transactions.rs
  src/types/responses/transactions.rs
Due: unit, API Module

bump version
  Cargo.toml
Due: none

add success info to receipts (#21)
  Cargo.toml
  src/api/transactions.rs
  src/types/responses/transactions.rs
Due: unit, API Module

update cargo lock
  Cargo.lock
Due: none

update cargo lock (#22)
  Cargo.lock
Due: none

add bridge_param
  src/api/bridge.rs
  src/types/requests/bridge.rs
  src/types/responses/transactions.rs
Due: unit, API Module

bridge param (#23)
  Cargo.lock
  Cargo.toml
  src/api/bridge.rs
  src/types/requests/bridge.rs
  src/types/responses/transactions.rs
Due: unit, API Module

remove : wip
  README.md
  examples/tokens_example.rs
  examples/transactions_example.rs
  src/api/bridge.rs
  src/api/tokens.rs
  src/api/transactions.rs
  src/crypto/hashing.rs
  src/types/mod.rs
  src/types/requests/bridge.rs
  src/types/requests/tokens.rs
  src/types/requests/transactions.rs
  tests/advanced_integration_scenarios.rs
  tests/crypto_integration_tests.rs
  tests/enhanced_edge_case_tests.rs
  tests/mock_integration_tests.rs
Due: unit, Crypto Module, API Module

fix deserialization
  src/types/responses/checkpoints.rs
  src/types/responses/transactions.rs
Due: unit

update cargo ver
  Cargo.lock
  Cargo.toml
Due: none

[breaking] remove recent checkpoint from tx (#24)
  Cargo.lock
  Cargo.toml
  README.md
  examples/tokens_example.rs
  examples/transactions_example.rs
  src/api/bridge.rs
  src/api/tokens.rs
  src/api/transactions.rs
  src/crypto/hashing.rs
  src/types/mod.rs
  src/types/requests/bridge.rs
  src/types/requests/tokens.rs
  src/types/requests/transactions.rs
  src/types/responses/checkpoints.rs
  src/types/responses/transactions.rs
  tests/advanced_integration_scenarios.rs
  tests/crypto_integration_tests.rs
  tests/enhanced_edge_case_tests.rs
  tests/mock_integration_tests.rs
Due: unit, Crypto Module, API Module

feat: remove the field token_account_address from REST APIs
  Cargo.lock
  Cargo.toml
  src/api/accounts.rs
  src/types/mod.rs
  src/types/responses/accounts.rs
Due: unit, API Module

chore: fix coderabbit
  src/types/responses/accounts.rs
Due: unit

feat: remove the field token_account_address from REST APIs (#25)
  Cargo.lock
  Cargo.toml
  src/api/accounts.rs
  src/types/mod.rs
  src/types/responses/accounts.rs
Due: unit, API Module

add clawback tx
  src/types/responses/transactions.rs
Due: unit

clawback auth
  src/types/requests/authorities.rs
Due: unit
