Repository 1Money-Co/onemoney-protocol-rust-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unit, Crypto Module, Client Module, API Module, Utils Module, Transport Module

codecov.yml:

# Codecov configuration for OneMoney Rust SDK
# This file configures how Codecov analyzes and reports code coverage

# Coverage targets
coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 5%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
        threshold: 10%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

# Coverage precision
  precision: 2

# Files to ignore from coverage analysis
ignore:
  - "examples/"
  - "tests/"
  - "benches/"
  - "target/"
  - "*.md"
  - "src/main.rs"  # Binary entry point if exists

# Comment configuration for pull requests
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

# GitHub status checks
github_checks:
  annotations: true

# Flags for different types of tests
flags:
  unit:
    paths:
      - src/

# Component-specific coverage tracking
component_management:
  individual_components:
    - component_id: crypto
      name: Crypto Module
      paths:
        - src/crypto/
    - component_id: client
      name: Client Module
      paths:
        - src/client/
    - component_id: api
      name: API Module
      paths:
        - src/api/
    - component_id: utils
      name: Utils Module
      paths:
        - src/utils/
    - component_id: transport
      name: Transport Module
      paths:
        - src/transport/

update documents
  README.md
Due: none

docker
  .dockerignore
  .github/workflows/ci.yml
  .gitleaks.toml
  CLAUDE.md
  Dockerfile
  docker-compose.yml
Due: none

docker
  .github/workflows/ci.yml
  .github/workflows/security.yml
  Dockerfile
Due: none

update build
  .dockerignore
  .github/workflows/ci.yml
  .github/workflows/security.yml
  Dockerfile
  rust-toolchain.toml
Due: none

docker solution
  .dockerignore
  .github/workflows/ci.yml
  .github/workflows/security.yml
  Dockerfile
Due: none

update ci
  .dockerignore
  .github/workflows/ci.yml
  .github/workflows/security.yml
  Dockerfile
  docker-compose.yml
Due: none

update deny script with tools installation
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

audit
  .github/workflows/security.yml
Due: none

update example, uodate return type
  examples/tokens_example.rs
  src/api/mod.rs
  src/api/tokens.rs
  src/api/transactions.rs
  src/lib.rs
  src/types/transactions.rs
Due: unit, API Module

add revoke tests
  examples/tokens_example.rs
  src/api/tokens.rs
  src/client/config.rs
Due: unit, Client Module, API Module

rename account
  README.md
  examples/accounts_example.rs
  examples/transactions_example.rs
  src/api/accounts.rs
  src/types/tokens.rs
Due: unit, API Module

error code handle
  src/client/http.rs
  src/error.rs
Due: unit, Client Module

optimized type
  CLAUDE.md
  README.md
  examples/accounts_example.rs
  examples/tokens_example.rs
  examples/transactions_example.rs
  src/api/accounts.rs
  src/api/tokens.rs
  src/api/transactions.rs
  src/crypto/keys.rs
  src/crypto/signing.rs
  src/types/common.rs
  src/types/tokens.rs
  src/types/transactions.rs
  src/utils/address.rs
  src/utils/wallet.rs
  tests/crypto_tests.rs
  tests/error_tests.rs
  tests/integration_tests.rs
  tests/mock_tests.rs
Due: unit, Crypto Module, API Module, Utils Module

reformat all types to match
  examples/checkpoints_example.rs
  examples/transactions_example.rs
  src/api/accounts.rs
  src/api/chains.rs
  src/api/checkpoints.rs
  src/api/mod.rs
  src/api/states.rs
  src/api/tokens.rs
  src/api/transactions.rs
  src/lib.rs
  src/types/accounts.rs
  src/types/api_signature.rs
  src/types/checkpoints.rs
  src/types/mod.rs
  src/types/requests/mod.rs
  src/types/requests/tokens.rs
  src/types/requests/transactions.rs
  src/types/responses/accounts.rs
  src/types/responses/chains.rs
  src/types/responses/checkpoints.rs
  src/types/responses/mod.rs
  src/types/responses/states.rs
  src/types/responses/tokens.rs
  src/types/responses/transactions.rs
  src/types/states.rs
  src/types/tokens.rs
  src/types/transactions.rs
  tests/crypto_tests.rs
Due: unit, API Module

update field
  examples/tokens_example.rs
  examples/transactions_example.rs
  src/api/transactions.rs
  src/types/api_signature.rs
  src/types/common.rs
  src/types/mod.rs
  src/types/requests/authorities.rs
  src/types/requests/mod.rs
  src/types/requests/transactions.rs
  src/types/responses/checkpoints.rs
  src/types/responses/transactions.rs
Due: unit, API Module

update tag version
  Cargo.lock
  Cargo.toml
Due: none

update release CI configuration
  .github/workflows/release.yml
Due: none

remove tests
  tests/error_tests.rs
Due: none

update test
  .gitignore
  src/api/accounts.rs
  src/api/tokens.rs
  src/types/responses/transactions.rs
  tests/checkpoints_api_coverage_tests.rs
  tests/checkpoints_coverage_tests.rs
  tests/coverage_tests.rs
  tests/error_coverage_tests.rs
  tests/http_client_coverage_tests.rs
  tests/tokens_api_coverage_tests.rs
  tests/transactions_api_coverage_tests.rs
  tests/transactions_coverage_tests.rs
Due: unit, API Module

clippy fix
  tests/transactions_api_coverage_tests.rs
Due: none

update
  .github/workflows/release.yml
  examples/transactions_example.rs
  src/error.rs
  src/types/common.rs
  tests/error_coverage_tests.rs
  tests/token_integration_tests.rs
  tests/token_mock_integration_tests.rs
Due: unit

update code rabbit
  .github/workflows/release.yml
  src/api/accounts.rs
  src/api/chains.rs
  src/api/checkpoints.rs
  src/api/states.rs
  src/api/tokens.rs
  src/api/transactions.rs
  src/client/hooks.rs
  src/crypto/keys.rs
  src/crypto/signing.rs
  src/types/responses/transactions.rs
  src/utils/wallet.rs
  tests/checkpoints_api_coverage_tests.rs
  tests/checkpoints_coverage_tests.rs
  tests/coverage_tests.rs
  tests/error_coverage_tests.rs
  tests/error_tests.rs
  tests/http_client_coverage_tests.rs
  tests/token_integration_tests.rs
  tests/token_mock_integration_tests.rs
  tests/tokens_api_coverage_tests.rs
  tests/transactions_api_coverage_tests.rs
  tests/transactions_coverage_tests.rs
Due: unit, Crypto Module, Client Module, API Module, Utils Module

update feedback
  examples/common.rs
  src/api/accounts.rs
  src/api/chains.rs
  src/api/checkpoints.rs
  src/api/states.rs
  src/api/tokens.rs
  src/api/transactions.rs
  src/client/hooks.rs
  src/client/http.rs
  src/lib.rs
  src/types/requests/authorities.rs
  src/types/requests/tokens.rs
  src/types/requests/transactions.rs
  src/utils/address.rs
  tests/http_client_coverage_tests.rs
  tests/integration_tests.rs
  tests/tokens_api_coverage_tests.rs
  tests/transactions_api_coverage_tests.rs
Due: unit, Client Module, API Module, Utils Module

update code rabbit
  CLAUDE.md
  examples/checkpoints_example.rs
  examples/transactions_example.rs
  src/api/checkpoints.rs
  src/api/tokens.rs
  src/api/transactions.rs
  src/client/http.rs
  src/types/requests/tokens.rs
  src/types/requests/transactions.rs
  src/types/responses/checkpoints.rs
  src/types/responses/mod.rs
  src/types/responses/tokens.rs
  src/types/responses/transactions.rs
  tests/checkpoints_api_coverage_tests.rs
  tests/checkpoints_coverage_tests.rs
  tests/coverage_tests.rs
  tests/http_error_classification_tests.rs
  tests/integration_tests.rs
  tests/token_api_methods_tests.rs
  tests/token_integration_tests.rs
  tests/token_mock_integration_tests.rs
  tests/tokens_api_coverage_tests.rs
  tests/transactions_api_coverage_tests.rs
Due: unit, Client Module, API Module

update tests
  src/client/builder.rs
  src/client/config.rs
  src/client/http.rs
  src/client/mod.rs
  src/crypto/hashing.rs
  src/crypto/keys.rs
  src/error.rs
  src/transport/mod.rs
  src/types/common.rs
  src/types/mod.rs
  src/types/responses/accounts.rs
  src/types/responses/chains.rs
  src/types/responses/checkpoints.rs
  src/types/responses/states.rs
  src/types/responses/tokens.rs
  src/utils/address.rs
  src/utils/wallet.rs
  tests/advanced_integration_scenarios.rs
  tests/api_integration_tests.rs
  tests/checkpoints_api_coverage_tests.rs
  tests/checkpoints_coverage_tests.rs
  tests/coverage_tests.rs
  tests/crypto_integration_tests.rs
  tests/crypto_tests.rs
  tests/enhanced_edge_case_tests.rs
  tests/error_coverage_tests.rs
  tests/error_integration_tests.rs
  tests/error_tests.rs
  tests/http_client_coverage_tests.rs
  tests/http_error_classification_tests.rs
  tests/http_integration_tests.rs
  tests/mock_integration_tests.rs
  tests/mock_tests.rs
  tests/test_documentation_enhancement.rs
  tests/token_api_methods_tests.rs
  tests/token_integration_tests.rs
  tests/token_mock_integration_tests.rs
  tests/tokens_api_coverage_tests.rs
  tests/transactions_api_coverage_tests.rs
  tests/transactions_coverage_tests.rs
Due: unit, Crypto Module, Client Module, Utils Module, Transport Module

update test
  tests/test_documentation_enhancement.rs
Due: none

update badge
  README.md
Due: none

update codecov
  README.md
Due: none

update codecov (#4)
  README.md
Due: none

add chain id constants
  Cargo.lock
  Cargo.toml
  examples/chains_example.rs
  examples/network_examples.rs
  examples/tokens_example.rs
  examples/transactions_example.rs
  src/api/chains.rs
  src/client/builder.rs
  src/client/config.rs
  src/client/http.rs
  tests/advanced_integration_scenarios.rs
  tests/error_integration_tests.rs
  tests/integration_tests.rs
  tests/mock_integration_tests.rs
Due: unit, Client Module, API Module

update version
  Cargo.lock
  Cargo.toml
  src/client/builder.rs
Due: unit, Client Module

remove test
  tests/enhanced_edge_case_tests.rs
Due: none

Feat: add chain id endpoint (#5)
  Cargo.lock
  Cargo.toml
  examples/chains_example.rs
  examples/network_examples.rs
  examples/tokens_example.rs
  examples/transactions_example.rs
  src/api/chains.rs
  src/client/builder.rs
  src/client/config.rs
  src/client/http.rs
  tests/advanced_integration_scenarios.rs
  tests/enhanced_edge_case_tests.rs
  tests/error_integration_tests.rs
  tests/integration_tests.rs
  tests/mock_integration_tests.rs
Due: unit, Client Module, API Module

refactor: rename fields of the transaction API
  src/types/responses/checkpoints.rs
  src/types/responses/transactions.rs
Due: unit

refactor: update display message
  src/types/responses/checkpoints.rs
  src/types/responses/transactions.rs
Due: unit

fix: test bugs
  src/types/responses/transactions.rs
Due: unit

refactor: rename fields of the transaction API (#6)
  src/types/responses/checkpoints.rs
  src/types/responses/transactions.rs
Due: unit

support custom network in client builder
  examples/chains_example.rs
  examples/network_examples.rs
  src/api/chains.rs
  src/client/builder.rs
  src/client/config.rs
  src/client/http.rs
  src/client/mod.rs
  tests/advanced_integration_scenarios.rs
  tests/error_integration_tests.rs
  tests/integration_tests.rs
  tests/mock_integration_tests.rs
  tests/test_documentation_enhancement.rs
Due: unit, Client Module, API Module
