Repository 1Money-Co/onemoney-protocol-rust-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unit, Crypto Module, Client Module, API Module, Utils Module, Transport Module

codecov.yml:

# Codecov configuration for OneMoney Rust SDK
# This file configures how Codecov analyzes and reports code coverage

# Coverage targets
coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 5%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
        threshold: 10%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

# Coverage precision
  precision: 2

# Files to ignore from coverage analysis
ignore:
  - "examples/"
  - "tests/"
  - "benches/"
  - "target/"
  - "*.md"
  - "src/main.rs"  # Binary entry point if exists

# Comment configuration for pull requests
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

# GitHub status checks
github_checks:
  annotations: true

# Flags for different types of tests
flags:
  unit:
    paths:
      - src/

# Component-specific coverage tracking
component_management:
  individual_components:
    - component_id: crypto
      name: Crypto Module
      paths:
        - src/crypto/
    - component_id: client
      name: Client Module
      paths:
        - src/client/
    - component_id: api
      name: API Module
      paths:
        - src/api/
    - component_id: utils
      name: Utils Module
      paths:
        - src/utils/
    - component_id: transport
      name: Transport Module
      paths:
        - src/transport/

fix lint
  src/client/builder.rs
Due: unit, Client Module

update version
  Cargo.lock
  Cargo.toml
  src/types/requests/authorities.rs
Due: unit

update doc test
  src/api/chains.rs
Due: unit, API Module

make predefined chain id as const fn
  src/api/chains.rs
  src/client/config.rs
Due: unit, Client Module, API Module

fix flaky test
  tests/error_integration_tests.rs
Due: none

addressing comment
  src/client/config.rs
Due: unit, Client Module

addressing comment
  README.md
  examples/network_examples.rs
Due: none

addressing comment
  src/api/chains.rs
  src/client/config.rs
Due: unit, Client Module, API Module

cow on custom network
  README.md
  examples/network_examples.rs
  src/client/builder.rs
  src/client/config.rs
  src/client/http.rs
  tests/advanced_integration_scenarios.rs
  tests/error_integration_tests.rs
  tests/integration_tests.rs
  tests/mock_integration_tests.rs
Due: unit, Client Module

fmt
  src/client/config.rs
  src/client/http.rs
Due: unit, Client Module

Sc/support custom network in client builder (#7)
  Cargo.lock
  Cargo.toml
  README.md
  examples/chains_example.rs
  examples/network_examples.rs
  src/api/chains.rs
  src/client/builder.rs
  src/client/config.rs
  src/client/http.rs
  src/client/mod.rs
  src/types/requests/authorities.rs
  tests/advanced_integration_scenarios.rs
  tests/error_integration_tests.rs
  tests/integration_tests.rs
  tests/mock_integration_tests.rs
  tests/test_documentation_enhancement.rs
Due: unit, Client Module, API Module

update version
  Cargo.lock
  Cargo.toml
Due: none

update version (#8)
  Cargo.lock
  Cargo.toml
Due: none

cargo version update
  Cargo.lock
  Cargo.toml
Due: none

update rlp signature param
  Cargo.lock
  Cargo.toml
  src/api/transactions.rs
  src/crypto/signing.rs
  src/error.rs
  src/types/common.rs
  src/types/mod.rs
  src/types/requests/authorities.rs
  src/types/requests/tokens.rs
  src/types/requests/transactions.rs
  src/types/responses/tokens.rs
  src/utils/wallet.rs
  tests/error_integration_tests.rs
Due: unit, Crypto Module, API Module, Utils Module

update rlp signature param (#10)
  Cargo.lock
  Cargo.toml
  src/api/transactions.rs
  src/crypto/signing.rs
  src/error.rs
  src/types/common.rs
  src/types/mod.rs
  src/types/requests/authorities.rs
  src/types/requests/tokens.rs
  src/types/requests/transactions.rs
  src/types/responses/tokens.rs
  src/utils/wallet.rs
  tests/error_integration_tests.rs
Due: unit, Crypto Module, API Module, Utils Module

refactor: remove the field of recent_epoch
  Cargo.toml
  README.md
  examples/network_examples.rs
  examples/states_example.rs
  examples/tokens_example.rs
  examples/transactions_example.rs
  src/api/mod.rs
  src/api/states.rs
  src/api/tokens.rs
  src/api/transactions.rs
  src/crypto/hashing.rs
  src/types/mod.rs
  src/types/requests/tokens.rs
  src/types/requests/transactions.rs
  src/types/responses/checkpoints.rs
  src/types/responses/transactions.rs
  tests/advanced_integration_scenarios.rs
  tests/crypto_integration_tests.rs
  tests/enhanced_edge_case_tests.rs
  tests/integration_tests.rs
  tests/mock_integration_tests.rs
Due: unit, Crypto Module, API Module

refactor: cargo update
  Cargo.lock
Due: none

chore: update rust version to 1.90.0
  rust-toolchain.toml
Due: none

chore: update the rust version of the github action
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

refactor: allow dead_code
  src/client/http.rs
Due: unit, Client Module

chore: rm unused codes
  .github/workflows/ci.yml
  examples/network_examples.rs
  tests/integration_tests.rs
Due: none

fix: cargo deny
  deny.toml
Due: none

chore: rm states types
  src/types/mod.rs
  src/types/responses/mod.rs
Due: unit

refactor: remove the field of recent_epoch (#11)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  Cargo.lock
  Cargo.toml
  README.md
  deny.toml
  examples/network_examples.rs
  examples/states_example.rs
  examples/tokens_example.rs
  examples/transactions_example.rs
  rust-toolchain.toml
  src/api/mod.rs
  src/api/states.rs
  src/api/tokens.rs
  src/api/transactions.rs
  src/client/http.rs
  src/crypto/hashing.rs
  src/types/mod.rs
  src/types/requests/tokens.rs
  src/types/requests/transactions.rs
  src/types/responses/checkpoints.rs
  src/types/responses/mod.rs
  src/types/responses/transactions.rs
  tests/advanced_integration_scenarios.rs
  tests/crypto_integration_tests.rs
  tests/enhanced_edge_case_tests.rs
  tests/integration_tests.rs
  tests/mock_integration_tests.rs
Due: unit, Crypto Module, Client Module, API Module

feat: add bridge functionality behind feature flag
  Cargo.toml
  src/api/bridge.rs
  src/api/mod.rs
  src/client/config.rs
  src/lib.rs
  src/types/requests/bridge.rs
  src/types/requests/mod.rs
Due: unit, Client Module, API Module

feat: add burn_and_bridge method and update documentation
  CLAUDE.md
  src/api/bridge.rs
  src/client/config.rs
Due: unit, Client Module, API Module

feat: add Bridge authority type
  src/types/requests/authorities.rs
Due: unit

fix encoding
  src/types/requests/bridge.rs
Due: unit

fix deny check
  Cargo.lock
  src/lib.rs
Due: unit

update version and rust version
  CLAUDE.md
  Cargo.lock
  Cargo.toml
Due: none

clean up and add tests
  README.md
  src/api/bridge.rs
  src/api/mod.rs
  src/api/states.rs
  src/client/config.rs
  src/client/mod.rs
  src/types/mod.rs
  src/types/responses/mod.rs
  src/types/responses/states.rs
  tests/api_integration_tests.rs
Due: unit, Client Module, API Module

update docs
  CLAUDE.md
Due: none

feat: add bridge functionality (#12)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  src/api/bridge.rs
  src/api/mod.rs
  src/api/states.rs
  src/client/config.rs
  src/client/mod.rs
  src/lib.rs
  src/types/mod.rs
  src/types/requests/authorities.rs
  src/types/requests/bridge.rs
  src/types/requests/mod.rs
  src/types/responses/mod.rs
  src/types/responses/states.rs
  tests/api_integration_tests.rs
Due: unit, Client Module, API Module

add bridge tx to TxPayload
  src/types/responses/transactions.rs
Due: unit

update
  src/types/responses/transactions.rs
Due: unit

feat: finalized tx API and epoch by id API
  Cargo.lock
  Cargo.toml
  examples/governances_example.rs
  src/api/governances.rs
  src/api/mod.rs
  src/api/transactions.rs
  src/client/config.rs
  src/types/hex_serde.rs
  src/types/mod.rs
  src/types/responses/governances.rs
  src/types/responses/mod.rs
  src/types/responses/tokens.rs
  src/types/responses/transactions.rs
  src/utils/io.rs
  src/utils/mod.rs
  tests/mock_integration_tests.rs
Due: unit, Client Module, API Module, Utils Module

fix: coderabbit
  Cargo.lock
  Cargo.toml
  src/types/responses/transactions.rs
  src/utils/wallet.rs
Due: unit, Utils Module

fix: coderabbit
  src/utils/wallet.rs
Due: unit, Utils Module
